<a href="https://colab.research.google.com/github/endar1y12/ML/blob/main/ML_meet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#liberaries
import pandas as pd
import numpy as np

#baca fil dataset
df =pd.read_csv("apartemen.csv")

#melihat semua isi data
print(df)

   KodeApt   Wilayah St_Milik Jum_Kamar
0    104.0    Bantul        Y         3
1    197.0    Sleman        N         3
2      NaN    Sleman        N       NaN
3    201.0     Yogya       12         1
4    203.0     Yogya        Y         3
5    207.0     Yogya        Y       NaN
6      NaN  KL-Progo      NaN         2
7    213.0    Bantul        Y        --
8    215.0    Bantul        Y       NaN

In [ ]:
#cek ada missing value
df.isnull().values.any()

True

In [ ]:
#banyak missing value
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     1
Jum_Kamar    3
dtype: int64

In [ ]:
#banyak missing value
df.isnull().sum().sum()

6

In [ ]:
#melihat kolom kode
df['KodeApt']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [ ]:
#mengecek nilai boolean kodeApt
df['KodeApt'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: KodeApt, dtype: bool

In [ ]:
#melihat kolom Jumlah kamar
df['Jum_Kamar']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8    NaN
Name: Jum_Kamar, dtype: object

In [ ]:

df['Jum_Kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: Jum_Kamar, dtype: bool

In [ ]:
#membuat daftar missing vale
missing_value = ["n/a","na","--"]
df = pd.read_csv("apartemen.csv",na_values = missing_value)

df['Jum_Kamar']

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: Jum_Kamar, dtype: float64

In [ ]:

df['Jum_Kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
Name: Jum_Kamar, dtype: bool

In [ ]:

df['St_Milik']

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [ ]:

df['St_Milik'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [ ]:
#mendeteksi angka
cnt=0
for i in df['St_Milik']:
  try:
    df['St_Milik'].isnull()
    int(i)
    df.loc[cnt,'St_Milik']= np.nan
  except ValueError:
    pass
  cnt+=1

df['St_Milik']

0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [ ]:

df['St_Milik'].isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [ ]:
#total missing values setiap kolom
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     2
Jum_Kamar    4
dtype: int64

In [ ]:
#banyak nya missing values
df.isnull().sum().sum()

8

In [ ]:
#mengganti missing values dengan sebuah angka
df['KodeApt'].fillna(837, inplace= True)
print(df.KodeApt)

0    104.0
1    197.0
2    837.0
3    201.0
4    203.0
5    207.0
6    837.0
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [ ]:
#mengganti pada lokasi spesifik
df.loc[2,'KodeApt'] = 8837
print(df.KodeApt)

0     104.0
1     197.0
2    8837.0
3     201.0
4     203.0
5     207.0
6     837.0
7     213.0
8     215.0
Name: KodeApt, dtype: float64

In [ ]:
#mengganti missing values dengan median
median = df['Jum_Kamar'].median()
df['Jum_Kamar'].fillna(median, inplace=True)

print(df.Jum_Kamar)

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: Jum_Kamar, dtype: float64

In [ ]:
#melihat semua data
print(df)

   KodeApt   Wilayah St_Milik  Jum_Kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya      NaN        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo      NaN        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [ ]:
#mengganti pada lokasi spesifik kolom St_milik
df.loc[3,'St_Milik']='N'
df.loc[6,'St_Milik']='Y'
print(df.St_Milik)

0    Y
1    N
2    N
3    N
4    Y
5    Y
6    Y
7    Y
8    Y
Name: St_Milik, dtype: object

In [ ]:
print(df)

   KodeApt   Wilayah St_Milik  Jum_Kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [ ]:
#menyimpan data
df.to_csv('apartemen_ok.csv',header = True,index = False)

In [ ]:
#mengubah data ke numerik

#libraries
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame
import pandas as pd
import numpy as np

#membaca file dataset
df= pd.read_csv('apartemen_ok.csv')

#melihat semua isi data
print(df)
le = LabelEncoder()

for col in df.columns.values:
  #encoding pada variabel kategori
  if df[col].dtypes=='object':
    data = df[col].append(df[col])
    le.fit(data.values)
    df[col] = le.transform(df[col])

df.head(10)

   KodeApt   Wilayah St_Milik  Jum_Kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

   KodeApt  Wilayah  St_Milik  Jum_Kamar
0    104.0        0         1        3.0
1    197.0        2         0        3.0
2   8837.0        2         0        3.0
3    201.0        3         0        1.0
4    203.0        3         1        3.0
5    207.0        3         1        3.0
6    837.0        1         1        2.0
7    213.0        0         1        3.0
8    215.0        0         1        3.0

In [ ]:
#menyimpan data numerik

df.to_csv('apartemen_num.csv',header=True,index = False)